*{
    /* zerar toda a config padrao. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    
}
.center{
    /* centralizar o menu e logo */
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}
.clear{
    clear: both;
}
.conteudo-topo{
    color: tomato;
}
.topo{
    background: linear-gradient(114deg, #250e8a, #00f9f7);
    padding-top:40px;
    padding-bottom: 80px;
}
.logo{
    /* logo a esquerda */
    float: left;
}
.menu-desktop{
    /* menu a direita */
    float: right;   
}
.menu-desktop li{
    /* estilisando as opções do menu */
    display: inline-block;
    margin: 0 15px;
}
.menu-desktop a{
    /* estilisando os link do menu */
    color: white;
    text-decoration: none;
    opacity:0.6;
}
.menu-desktop a:hover{
    opacity: 1.0;
}
.conteudo-topo{
    color: white;
    margin-top: 15px;
    margin-left: 35px;
}
.imagem-topo{
   display: inline-block;
   float: right; 
}

.conteudo-topo p{
/* quebra de linha no paragrafo. */
margin-top: 15px;
margin-bottom: 18px;
max-width: 290px;
font-size: 20px;
}
.conteudo-topo a{
    color: blue;
    text-decoration: none;
    border: 1px solid black;
    background-color: gold;
    font-size: 28px;
    padding: 3px 9px;
    border-radius: 8px;
}
.conteudo-topo h2{
    font-size: 34px;
}
.imagem-topo img{
    max-width: 100%;
}
/* aplicando o responsivel */
@media screen and (max-width: 768px){
    .conteudo-topo{width: 100%;}
}
